<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikoloy.device_trust">
    
    <!-- Declare root management apps for package visibility (queries) -->
    <queries>
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="com.noshufou.android.su" />
        <package android:name="com.devadvance.rootcloak" />
        <package android:name="com.devadvance.rootcloakplus" />
    </queries>
</manifest>